 
  h1 {
    font-size: 36px !important;
    font-weight: bold !important;
}

h2 {
    font-size: 32px !important;
    font-weight: bold !important;
}

h3 {
    font-size: 28px !important;
    font-weight: bold !important;
}

h4 {
    font-size: 24px !important;
    font-weight: bold !important;
}

h5 {
    font-size: 20px !important;
    font-weight: bold !important;
}

h6 {
    font-size: 16px !important;
    font-weight: bold !important;
}


  .ce-code textarea {
    min-height: auto;
  }

  .ce-toolbar__content {
    margin-left: 30px;
  }

  .ce-block__content {
    margin-left: 0px;
  }

  /* .ce-toolbar {
    top: 0 !important; 
    margin-top: 6px;
} */